header,
footer {
    padding: 1em;
    color: white;
    background-color: blue;
    clear: left;
    text-align: center;
}

.wrapper {
    display: flex;
}

.wrapper > div {
    flex: 1;
    text-align: center;
}